@import url("https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@1,300&display=swap");

body {
  margin: 0;
} 

.profile {
  justify-content: center;
  width: 150px;
  height: 150px;
  transform: scale(1); 
  border-radius: 70%
} 
.menu-bar {
  position: fixed;
  border: 0;
  background-color: pink;
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  margin: 0 0 0 220px;
  border-bottom:  2px solid pink;
  border-top: 2px solid pink;
}
.index {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.index h3 {
  color: black;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}
.index h3:hover {
  font-size: 1.1em;
  opacity: 1;
  text-shadow: 0.7px 0.7px 0.7px #000;
}
.name {
  margin : 0 0 100px 250px;
  color: rgb(234, 21, 92);
  font-size: 65px;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}
.contacts {
  margin : 0 0 100px 250px;
  font-size: 15px;
  opacity: 0.5;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}
.main-introduction {
  margin : 0 0 20px 30px;
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0.8;
}
.sns {
  margin: 10px 0 0 250px;
}
.sns p {
  color: palevioletred;
}
.sns i {
  margin-right: 40px;
}
.sns img {
  width: 50px;
}
.sns img:hover {
  transform: translate(0, -5px);
}
.btn {
  margin: 30px 0 0 250px;
  height: 40px;
  width: 100px;
}
.dogImg {
  display: flex;
}
.dog_ {
  justify-content: center;
  margin-left: 50px;
}
.dog_ img {
  height: 200px;
  width: 180px;
}
.start {
  transform: scale(0);
  width: 500px;
}
.end {
  transform: scale(1);
  transition :all 0.5s;
  width: 500px
}